:root {
  --text-color: #757575;
  --h-color: #212121;
  --akcent-color: #2196f3;
  --white-color: #ffffff;
  --border-color: #ececec;
  --hover-btn: #188ce8;
  --bg-nav: #ffffff;
  --bg-img: #eeeeee;
  --bg-hero: #2f303a;
  --button-color: #f5f4fa;
  --icon-color: #afb1b8;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--white-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--icon-color);
}

a.accept {
  text-decoration-line: underline;
  text-underline-position: under;
  color: var(--akcent-color);
  line-height: 1.71;
}

img {
  display: block;
  max-width: 100%;
}

.address {
  font-style: normal;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.section {
  padding-bottom: 94px;
}

/* ----------------------------ХЕДЕР---------------------------- */
/* ЛОГО */
.logo-acent {
  color: var(--akcent-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-header-main {
  color: black;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.logo-footer-main {
  color: var(--white-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* КІНЕЦЬ ЛОГО */

.header {
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.header-all {
  display: flex;
}

.item-auth {
  display: flex;
  align-items: center;
}

.list-nav,
.list-auth {
  list-style: none;
  display: flex;
}

.list-auth {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.item-auth + .item-auth {
  margin-left: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.item-nav + .item-nav {
  margin-left: 50px;
}

.link {
  text-decoration: none;
}

.nav-text,
.nav-contact {
  color: var(--h-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--akcent-color);
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background: var(--akcent-color);
  border-radius: 2px;
}

.nav-text:hover,
.nav-text:focus {
  color: var(--akcent-color);
}

.nav-text:hover .icon-contacts,
.nav-text:focus .icon-contacts {
  fill: var(--hover-btn);
}

.nav-contact {
  color: var(--text-color);
}

.icon-contacts {
  fill: var(--text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ----------------------------КІНЕЦЬ ХЕДЕРА---------------------------- */

/* ----------------------------БАНЕР---------------------------- */
.section-hero {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-color: var(--bg-hero);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.section-paddingtop {
  padding-top: 94px;
}
/* .baner-container {
  width: 1600px;
  height: 600px;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.baner-text {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.button-baner {
  padding: 10px 32px;
  min-width: 200px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: var(--akcent-color);
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-baner:hover,
.button-baner:focus {
  background-color: var(--hover-btn);
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--akcent-color);
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--akcent-color);
  color: var(--white-color);
}

/* ----------------------------КІНЕЦЬ БАНЕРА---------------------------- */

/* ----------------------------ОСОБЛИВОСТІ---------------------------- */

.list-specifics {
  display: flex;
}

.specifics-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.item-specifics + .item-specifics {
  margin-left: 30px;
}

.item-specifics {
  min-width: 270px;
}

.specifics {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h-color);
}

.text-decor {
  padding-top: 30px;
  padding-bottom: 30px;
}

.specifics-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ----------------------------КІНЕЦЬ ОСОБЛИВОСТІ---------------------------- */

/* ----------------------------ЧИМ ЗАЙМАЄМОСЬ---------------------------- */

.works,
.teem,
.partners-main {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h-color);
}

.list-works {
  display: flex;
  margin-top: 50px;
}

.item-works + .item-works {
  margin-left: 30px;
}

.item-works {
  position: relative;
  overflow: hidden;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
}

/* ----------------------------КІНЕЦЬ ЧИМ ЗАЙМАЄМОСЬ---------------------------- */

/* ----------------------------КОМАНДА---------------------------- */
.member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h-color);
}

.item-aboutus {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.position {
  /* padding-bottom: 30px; */
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.about-us {
  background-color: var(--button-color);
  padding-top: 94px;
}

.aboutus-list {
  display: flex;
  margin-top: 50px;
}

.item-aboutus + .item-aboutus {
  margin-left: 30px;
}

.item-icon {
  width: 44px;
  height: 44px;
}
.item-icon + .item-icon {
  margin-left: 10px;
}

.link-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--akcent-color);
  color: var(--white-color);
}

.soc-icon-member {
  fill: currentColor;
}

.link-icon:hover .soc-icon-member,
.link-icon:focus .soc-icon-member {
  fill: var(--white-color);
}

.list-icon {
  display: flex;
  justify-content: center;
}

.partners-list {
  display: flex;
  margin-top: 50px;
}

.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.rect + .rect {
  margin-left: 30px;
}

.rect:hover .link-rect,
.rect:focus .link-rect {
  fill: var(--akcent-color);
  border-color: var(--akcent-color);
}

.link-rect {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon-rect {
  fill: currentColor;
}

.link-rect:hover,
.link-rect:focus {
  color: var(--akcent-color);
  border-color: var(--akcent-color);
}
/* ----------------------------КІНЕЦЬ КОМАНДИ---------------------------- */

/* ----------------------------ФУТЕР---------------------------- */
.footer-main {
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
}

.footer {
  background-color: var(--bg-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-item + .footer-item {
  margin-top: 9px;
}

.address,
.contacts {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.contacts {
  color: rgba(255, 255, 255, 0.6);
}

.address {
  margin: 0;
  margin-top: 20px;
}

.footer-soc-text {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-soc-list {
  display: flex;
  margin-top: 20px;
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.soc-icon-footer {
  fill: var(--white-color);
}

.link-icon-footer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-footer:hover,
.link-icon-footer:focus {
  background-color: var(--akcent-color);
}

.item-icon-footer {
  width: 44px;
  height: 44px;
}
.item-icon-footer + .item-icon-footer {
  margin-left: 10px;
}


/* ------------ПОЧАТОК МОДАЛКИ------------ */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  padding: 6px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close-icon:hover,
.close-icon:focus {
  fill: var(--akcent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--h-color);
  margin-bottom: 12px;
}

.modal-input {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  display: flex;
  padding-bottom: 4px;
  font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
}


.modal-input:focus-within,
.modal-input:hover {
  border-color: var(--akcent-color);
}

.modal-input:hover + .form-icon,
.modal-input:focus-within +.form-icon {
  fill: var(--akcent-color);
}

.text-place {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-place:hover,
.text-place:focus {
  border-color: var(--akcent-color);
}

.modal-div {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.input-wrap input {
  padding-left: 42px;
}

.text-place {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--h-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  cursor: pointer;
}

.form-text-box::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
}

.check-input:checked + .form-text-box::before {
  background-image: url(../images/svg-icons/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: var(--akcent-color);
}

.check-input:checked {
  background-image: url(../images/svg-icons/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox {
  margin-top: 20px;
}

.btn-form,
.btn-spam {
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: var(--akcent-color);
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-spam {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe {
  margin-left: 10px;
}

.btn-form:hover,
.btn-form:focus {
  background-color: var(--hover-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-spam:hover,
.btn-spam:focus {
  background-color: var(--hover-btn);
}

.spam-mail {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  color: var(--white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.spam-mail:hover,
.spam-mail:focus {
  border-color: var(--akcent-color);
}

.spam-form {
  display: flex;
  margin-top: 20px;
}

.spam {
  margin-left: 93px;
}
/* ------------КІНЕЦЬ МОДАЛКИ------------ */
/* ----------------------------КІНЕЦЬ ФУТЕРА---------------------------- */

/* ----------------------------ДРУГА СТОРІНКА---------------------------- */

.btn {
  padding: 6px 22px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--button-color);
  color: var(--h-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn + .filter-btn {
  margin-left: 8px;
}

.btn:hover,
.btn:focus {
  background-color: var(--akcent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example {
  width: 322px;
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h-color);
}

.direction {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.filter-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.filter-items {
  display: flex;
  flex-wrap: wrap;
}

.filter-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-bottom: 30px;
  margin-right: 30px;
  transition: translatex 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pic {
  position: relative;
  overflow: hidden;
}

.filter-item:hover .overlay {
  transform: translatex(0);
}

.filter-link:focus .overlay {
  transform: translatex(0);
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.overlay p {
  color: var(--white-color);
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
}

.filter-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-link:hover,
.filter-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-filter {
  padding: 94px 0px;
}

.filter-item:nth-child(3n + 3) {
  margin-right: 0;
}

.filter-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.element-item {
  padding: 20px 23px;
  border: 1px solid #eeeeee;
  border-top: none;
}
