.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    &--acent {
      color: var(--akcent-color);
    }
    &--dark {
      color: black;
      margin-right: 93px;
    }
    &--light {
      color: var(--white-color);
    }
  }